.header{
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    background: var(--blue);
    padding-right: 0;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
}

.title{
    position: absolute;
    left: 32%;
    top: 22px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: var(--white);
}

.header-img{
    background: url('/assets/header-image.jpg'); 
    height: 493px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;    
}