.author {
    color: var(--black);
    font-size:15px;
    line-height:22px;
    max-width:240px;
    padding:3px 0 3px 66px;
    position:relative;
    margin-right:1em;
    margin-top:1em;
    margin-bottom: 1em;
}
.author-img{
    background: url('/assets/avatar.jpg');
    border-radius:50%;
    height:50px;
    width:50px;
    position:absolute;
    top:0;
    left:0
}
.author-name {
    color: var(--black);
    font-size: 15px;
    position: relative;
}
.author-subtitle{
    color: var(--grey);
    font-size:12px
}