<h2>Comentários</h2>

<section *ngFor="let comment of comments">
  <div class="line">
    <div class="comentario" *ngIf="comment.respondsTo == null">
      <div class="title">
        {{ comment.author.username }} - <time>{{ comment.timestamp | date:'dd/MM/yyyy HH:MM' }}</time>
      </div>
      <div [innerText]="comment.content"></div>
      <div class="resp">
        <button class="btn btn-light" (click)="alerta()">
          <mat-icon aria-hidden="false" aria-label="Example home icon"> share </mat-icon>
        </button>
      </div>
    </div>

    <div *ngFor="let resposta of comments">
      <div class="line">
        <div *ngIf="resposta.respondsTo !== null && resposta.respondsTo.id == comment.id">
          <div class="title">
            {{ resposta.author.username }} - <time>{{ resposta.timestamp | date:'dd/MM/yyyy HH:MM' }}</time>
          </div>
          <div [innerText]="resposta.content"></div>
          <div class="resp">
            <button class="btn btn-light" (click)="alerta()">
              <mat-icon aria-hidden="false" aria-label="Example home icon"> share </mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>