.title{
    color: var(--blue);
    margin-top:1em;
}

.line{
    border-left: 3px solid var(--orange);
    padding-left: 15px;
}

.answer{
    background: var(--white);
    border: 1px dashed var(--grey);
    box-sizing: border-box;
}