/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Colors */
:root {
    --blue: #03A9F4;
    --white: #FFFFFF;
    --black: #000000;
    --grey: #939393;
    --orange: #FF9B52;
}

/* Resets */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Elementos base*/
html { 
    box-sizing:border-box;
    color: var(--black);
    font-size:100%
}

body{
    background: var(--white);
    font-family: 'Roboto';    
    color: var(--black);
    margin: 0 auto;
 }

img { border:none;
    max-width:100%;
}

a { 
    color: var(--blue);
    display:inline-block;
}
